[Unit]
After=sys-subsystem-net-devices-eth0.device

[Service]
User=pi
PermissionsStartOnly=true
TimeoutStartSec=0
ExecStartPre=/bin/chmod o+rw /dev/vchiq
ExecStart=/home/pi/ewa/ewa -- -i 3 can0
KillMode=process
WorkingDirectory=/home/pi/ewa

[Install]
WantedBy=multi-user.target
